{% extends 'base.html.twig' %}

{% block title %}E-Boutique{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Accueil</h1>

    <div class="row">
        {% for category in categories %}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ category.name|capitalize }}</h2>
                    </div>
                    <div class="card-body">
                        <p>{{ category.description }}</p>
                        <a href="{{ path('app_category_index') ~ '/' ~ category.name }}" class="btn btn-primary">
                            Voir les produits ({{ category.products|length }})
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
