{% extends 'base.html.twig' %}

{% block title %}{{ category|capitalize }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="{{ asset('js/category.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="">
        <h1>{{ category|capitalize }}</h1>
        <p>Here is the list of all the {{ books|length }} books in this category:</p>

        <div class="row">
            {% for book in books %}
                <a href="{{ path('app_books', {'id': book.id}) }}" class="col-4">
                    <div class="card book" id="book-{{ book.id }}">
                        <div class="card-header position-relative">
                            <h3 class="card-title">{{ book.name }}</h3>
                            <p class="card-text">{{ book.description }}</p>
                            <i class="position-absolute fa-light fa-cart-circle-check"
                               style="top: 1rem; right: 1rem"></i>
                        </div>
                        <div class="card-body">
                            {% set media = book.medias[0] %}
                            <p class="card-text"><small class="text-muted">Price : {{ book.price }} $</small></p>
                            <img src="{{ asset('uploads/' ~ media.path) }}" alt="{{ media.alt }}"
                                 class="img-thumbnail">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
