<header class="mb-5">
    <nav class="navbar navbar-expand flex-column flex-sm-row navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">Book Store</a>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="d-inline-flex" style="gap: 1rem">
                {# If is logged in #}
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Logout</a>
                    <a class="nav-link p-0 ml-2" href="{{ path('app_shopping_list') }}">
                        <i class="fa-solid fa-basket-shopping" style="font-size: 1.5rem"></i>
                        <span id="shop-list-count" class="badge badge-pill badge-secondary"></span>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
